{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Secret Santa{% endblock %}</title>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.0/css/all.min.css" integrity="sha512-ykRBEJhyZ+B/BIJcBuOyUoIxh0OfdICfHPnPfBy7eIiyJv536ojTCsgX8aqrLQ9VJZHGz4tvYyzOM0lkgmQZGw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


        
        <link href="{% static 'secretsanta/styles.css' %}" rel="stylesheet">
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
        


    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="{% url 'index' %}">Secret Santas
                <i class="fas fa-gifts fa-1x" style="color: #FF2E2E;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: white;"></i>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                
                {% if user.is_authenticated %}
                    
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="{% url 'index' %}">Santas</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Categories</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'choose' %}">Generator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'browse' %}">Browse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'groups' %}">Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>


          </nav>

        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        <footer class="text-center text-lg-start bg-dark text-muted" style="padding: 50px;height: 100px">
        <h6 >© 2021 SecretSantas ®</h6>
        </footer>
    </body>
    
</html>